*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
proguard/
log/
*.log
.navigation/
output.json
local.properties
build.gradle.bak
*.keystore
*.jks
google-services.json
*.hprof
*.prof
*.trace